<h1>Create a new Profile</h1>

<%= form_for [@user, @profile] do |f| %>

  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! We couldn't create your profile.  Please see below.</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <%= f.label :bio %><br>
  <%= f.text_area :bio %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>
  
  <%= f.label :state %><br>
  <%#= select_tag :state, options_for_select(us_states) %>
  <%= f.select(:state, options_for_select(us_states, "CA")) %>
  
  <%= f.label :zipcode %><br>
  <%= f.text_field :zipcode %><br>

  <%= f.label :pets %><br>
  <%= f.select(:pets, Profile.pets_options ,{}, {multiple: true}) %><br>
  
  <%= f.submit %>

<% end %>